@import 'tailwindcss';

body {
    /* font-family: 'Roboto', var(--font-roboto), sans-serif; */
}


/* Poppins font class */

.font-poppins {
    font-family: 'Poppins', var(--font-poppins), sans-serif;
}


/* Roboto font for sys pages */

.font-roboto {
    font-family: 'Roboto', var(--font-roboto), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


/* Custom styles for ProTable search form */